<h2>DESCRIPTION</h2>

<em>r.stream.snap_simple</em> matches stream related spatial objects like
species occurrences or migration barriers to stream pixels.

<h2>EXAMPLES</h2>

TBD

<h2>SEE ALSO</h2>

<em>
<a href="r.stream.snap.html">r.stream.snap</a>,
<a href="r.stream.connectivity.html">r.stream.connectivity</a>
<a href="r.stream.culvert.html">r.stream.culvert</a>
<a href="v.in.pygbif.html">v.in.pygbif</a>
<a href="v.in.gbif.html">v.in.gbif</a>
</em>

<h2>AUTHORS</h2>

Stefan Blumentrath, Norwegian Institute for Nature Research (<a href="https://www.nina.no/">NINA</a>), Oslo, Norway<br>
Written for the INVAFISH project (RCN MILJ&Oslash;FORSK grant 243910)
